* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background: #f6f9fe;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 1440px;
}

.menu a {
    text-decoration: none;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 10px;
    margin-top: 10px;
}

.btn-menu {
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 7px 28px;
    font-size: 14px;
    color: #9A52FF;
    box-shadow: 0px 2px 12px -6px rgb(154, 82, 255);
}

.intro h2{
    font-weight: 700 !important;
}

.intro h2,
.content h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #00252E;
    margin-top: 35px;
    margin-bottom: 20px;
}

.intro p,
.content p {
    color: #808D99;
    line-height: 28px;
}

.intro p{
    text-align: center;
}

#intro{
    padding-bottom: 4rem !important;
}

.img-response img{
    width: 80vw;
    max-width: 700px;
    margin: 50px 0;
}

#intro,
#wrapper {
    text-align: center;
    padding: 10px;
    margin-bottom: 25%;
}

#wrapper-card {
    padding-bottom: 15%;
}

.obj {
    overflow: hidden;
}

.btn-intro {
    background-color: #FF52BF;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    padding: 15px 40px;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: 0px 0px 5px 0px rgb(255, 82, 191);
}

.btn-card {
    background-color: #FF52BF;
    border: 1px solid #FF52BF;
    border-radius: 2px;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 50px;
    cursor: pointer;
    margin-top: 30px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding-bottom: 20px;
    color: #ffffff;
}

footer{
    background-color: #00252E;
}

.link li a,
.link2 li a{
    text-decoration: none;
    color: #ffffff;
    line-height: 40px;
}

.link,
.link2{
    list-style: none;
}

.form-footer{
    text-align: center;
    color: rgb(255, 255, 255);
}

.form-footer h2{
    margin-bottom: 10px;
}

.form-footer p{
    font-size: 15px;
}

.input{
    border-radius: 2px;
    border: 1px solid #ffffff;
    width: 97%;
    padding: 15px 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.input-submit{
    background-color: #FF52BF;
    color: #ffffff;
    border-radius: 2px;
    border: 1px solid #FF52BF;
    width: 100%;
    padding: 15px;
    cursor: pointer;
}

.network ul li{
    display: inline;
    padding: 5px;
}

.network{
    text-align: center;
    font-size: 26px;
    color: #ffffff;
}

.card{
    width: 600px;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0px 8px 40px -25px rgb(154, 82, 255);
    position: relative;
}

.card-body {
    padding: 40px 0;
}

.card-title {   
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #00252E;
    margin-bottom: 5px;
}
.card-subtitle {
    color: #808D99;
    font-size: 12px;
    padding: 0 10px;
}


@media (min-width: 375px) and (max-width: 620px){
    .container {
        width: 96%;
        position: relative;
    }

    h1 img{
        width: 40%;
    }

    h1, nav {
        margin-top: 18px;
    }

    .float_one{
        margin-left: 30px;
    }

    footer img{
        width: 50%;
    }
    
    .form-footer{
        margin-bottom: 70px;
    }

    .form-footer,
    .network,
    .link,
    .link2{
        padding: 0 10px;
    }

    .img-footer{
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .content h2, p{
        text-align: center;
    }

    .img-footer img{
        margin-top: 60px;
    }
    
    #wrapper-card{
        padding-top: 15%;
    }

    .card {
        width: 100% !important;
        text-align: center;
        border-radius: 3px;
        box-shadow: 0px 8px 40px -25px rgb(154, 82, 255);
    }

    .card-subtitle{
        font-size: 13px;
    }

    .object {
        width: 165%;
        height: 84%;
        position: absolute;
        right: -67%;
        top: 17%;
        border-radius: 30px;
        transform: rotate(55deg);
        background: #ffffff;
        z-index: -2;
    }

    .object-colors {
        width: 110%;
        height: 105%;
        border-radius: 60px;
        transform: rotate(-28deg);
        background: linear-gradient(rgb(255, 82, 191), rgb(154, 82, 255));
        position: absolute;
        top: -16%;
        left: 90%;
        z-index: -1;
    }
}

@media(min-width: 620px){

    .container{
        width: 90%;
    }

    h1, nav{
        margin-top: 50px;
    }

    .btn-menu{
        padding: 8px 35px;
    }

    #intro p{
        width: 50%;
        position: relative;
        left: 25%;
   }

    .float_one img{
        width: 45% !important;
        margin-right: 90px;
        float: left;
    }

    .float_two{
        text-align: start;
    }

    .card{
        padding: 3rem 0;
    }

    #wrapper-card{
        position: relative;
        justify-content: center;
        display: flex;
        padding-top: 15%;
    }
    
    .card-title {
        font-size: 30px;
    }

    .card-subtitle{
        font-size: 18px;
        text-align: center;
    }

    footer img{
        padding-top: 50px;
        padding-left: 50px;
    }

    .network,
    .attribution{
        position: absolute;
        left: 4%;
    }
    
    .attribution{
        margin: 40px 0px 0px 8px;
    }

    .form-footer{
        float: right;
        width: 350px;
    }

    .form-footer h2, p{
        text-align: start;
    }

    .input{
        border-radius: 5px;
        font-size: 16px;
    }

    .input-submit{
        border-radius: 2px;
        padding: 15px;
        cursor: pointer;
        width: 50%;
        margin-left: 50%;   
    }

    footer{
        position: relative;
        height: 450px;
    }

    .link{
        position: absolute;
        left: 30%;
    }

    .link2{
        position: absolute;
        left: 50%;
        top: 0;
    }

    .object {
        width: 65%;
        height: 115%;
        position: absolute;
        right: 25%;
        top: 8%;
        border-radius: 80px;
        transform: rotate(65deg);
        background: #ffffff;
        z-index: -2;
    } 
    
    .object-colors {
        width: 120%;
        height: 130%;
        border-radius: 80px;
        transform: rotate(-40deg);
        background: linear-gradient(rgb(255, 82, 191), rgb(154, 82, 255));
        position: absolute;
        top: -65%;
        left: 55%;
        z-index: -1;
    }  
}



